# Example 1

# tuple can't get update but if we convert tuple into list it can get converted

In [5]:
x=("shru",1,2)

In [6]:
x

('shru', 1, 2)

In [7]:
y=list(x)

In [8]:
y[1]='fav'

In [9]:
x=tuple(y)

In [10]:
x

('shru', 'fav', 2)

# example 2

# Add tuple to a tuple

In [19]:
p=(1,2,3)
q=(4,)

In [20]:
p += q

In [21]:
print(p)

(1, 2, 3, 4)

# example 3

# Remove Items

In [22]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

In [23]:
thistuple

('banana', 'cherry')

# example 4

In [24]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [25]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

# example 5 while loop

In [26]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

# example 6 case 3 pass something return something

In [35]:
def is_prime(num):
    if num <= 1:
        return "Not prime"
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return "Not prime"
    return "Prime"

In [36]:
is_prime(95)

'Not prime'

In [37]:
is_prime(5)

'Prime'

# example 7

In [38]:
def is_even(n):
    if n%2==0:
        return 'even'
    else:
        return 'odd'

In [39]:
is_even(5)

'odd'

In [40]:
is_even(1006)

'even'

# example 8

In [44]:
def fact(num):
    if num==0:
        return 1
    else:
        return num*fact(num-1)

In [45]:
fact(5)

120

# example 9

In [46]:
def reverse(a):
    return a[::-1]

In [48]:
a=[1,2,3,4]
reverse(a)

[4, 3, 2, 1]

In [2]:
def max(a,b,c):
    return max(a,b,c)

In [1]:
max(1,2,3)

3

# example 10

In [2]:
def min(a,b,c):
    return min(a,b,c)

In [1]:
min(1,2,3)

1