In [9]:
n=6
for num in range(n):
    for i in range(1,num):
        print(i,end=" ")
    print(" ")

1
1 2
1 2 3
1 2 3 4

In [14]:
for i in range(4):
    for j in range(4):
        print("#",end=" ")
    print(" ")

# # # #
# # # #
# # # #
# # # #

In [19]:
n=5
for i in range(n):
    for j in range(i+1):
        print("#",end=" ")
    print(" ")

#
# #
# # #
# # # #
# # # # #

In [21]:
n=5
for i in range(n):
    for j in range(5-i):
        print("#",end=" ")
    print(" ")

# # # # #
# # # #
# # #
# #
#

In [31]:
n=5
for i in range(n):
    for j in range(i,n):
        print(' ',end=' ')
    for j in range(i+1):
        print("*",end=' ')
    print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [30]:
n=5
for i in range(n):
    for j in range(i+1):
        print(' ',end=' ')
    for j in range(i,n):
        print("*",end=' ')
    print()

  * * * * *
    * * * *
      * * *
        * *
          *

In [37]:
#hill / pyramid
n=5
for i in range(n):
    for j in range(i,n):
        print(' ',end=' ')
    for j in range(i+1):
        print('*',end=' ')
    for j in range(i):
        print('*',end=' ')
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [38]:
#revrse hill
n=5
for i in range(n):
    for j in range(i+1):
        print(' ',end=' ')
    for j in range(i,n):
        print('*',end=' ')
    for j in range(4-i):
        print('*',end=' ')
    print()

  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [42]:
#diamond
n=5
for i in range(n-1):
    for j in range(i,n):
        print(' ',end=' ')
    for j in range(i+1):
        print('*',end=' ')
    for j in range(i):
        print('*',end=' ')
    print()

for i in range(n):
    for j in range(i+1):
        print(' ',end=' ')
    for j in range(i,n):
        print('*',end=' ')
    for j in range(4-i):
        print('*',end=' ')
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [43]:
n=5
for i in range(n):
    for j in range(i+1):
        print("1",end=' ')
    print()

1
1 1
1 1 1
1 1 1 1
1 1 1 1 1

In [45]:
n=5
for i in range(n):
    for j in range(i+1):
        print(i+1,end=' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [46]:
n=5
for i in range(n):
    for j in range(i+1):
        print(5-i,end=' ')
    print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [47]:
n=5
for i in range(n):
    for j in range(i+1):
        print(2*i,end=' ')
    print()

0
2 2
4 4 4
6 6 6 6
8 8 8 8 8

In [51]:
n=5
for i in range(n):
    for j in range(i+1):
        if i%2==0:
            print("1",end=' ')
        else:
            print("2",end=' ')
    print()

1
2 2
1 1 1
2 2 2 2
1 1 1 1 1

In [54]:
n=5
for i in range(n):
    for j in range(i+1):
        
        print(' ',end=' ')
    for j in range(i,n):
        if i%2==0:
            print("#",end=' ')
        else:
            print("$",end=' ')
    print()

  # # # # #
    $ $ $ $
      # # #
        $ $
          #

In [65]:
#diamond
n=5
for i in range(n-1):
    for j in range(i,n):
        print(' ',end=' ')
    for j in range(i+1):
        print(i+1,end=' ')
    for j in range(i):
        print(i+1,end=' ')
    print()

for i in range(n):
    for j in range(i+1):
        print(' ',end=' ')
    for j in range(i,n):
        print(i+1,end=' ')
    for j in range(4-i):
        print(i+1,end=' ')
    print()

          1
        2 2 2
      3 3 3 3 3
    4 4 4 4 4 4 4
  1 1 1 1 1 1 1 1 1
    2 2 2 2 2 2 2
      3 3 3 3 3
        4 4 4
          5

In [69]:
#diamond
n=5
for i in range(n-1):
    for j in range(i,n):
        print(' ',end=' ')
    for j in range(i+1):
        print(i+1,end=' ')
    for j in range(i):
        print(i+1,end=' ')
    print()

for i in range(n):
    for j in range(i+1):
        print(' ',end=' ')
    for j in range(i,n):
        print(5-i,end=' ')
    for j in range(4-i):
        print(5-i,end=' ')
    print()

          1
        2 2 2
      3 3 3 3 3
    4 4 4 4 4 4 4
  5 5 5 5 5 5 5 5 5
    4 4 4 4 4 4 4
      3 3 3 3 3
        2 2 2
          1

In [70]:
n=5
for i in range(n):
    for j in range(i+1):
        print(j+1,end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [94]:
n=5
for i in range(n):
    p=1
    for j in range(i+1):
        print(' ',end=' ')
    for j in range(i,n):
        print(p,end=' ')
    print()

  1 1 1 1 1
    1 1 1 1
      1 1 1
        1 1
          1