example 1.Write a function to check if a number is prime or not

In [1]:
def check_prime(n):
    if n==1:
        return False
    elif n==2:
        return True
    else:
        for x in range(2,n):
            if n%x==0:
                return False
        return True

In [2]:
check_prime(9)

False

example 2 .Given a list of numbers, return True if first and last number of a list is same

In [3]:
def same_no(list):
    first_num=list[0]
    last_num=list[-1]
    if first_num==last_num:
        return True
    else:
        return False

In [4]:
list=[1,2,3,4,1]
same_no(list)

True

example 3. Write a program to check if each word in a string begins with a capital letter?

In [5]:
def is_capital(string):
    if string.istitle():
        return True
    else:
        return False

In [7]:
string='shrushti'
is_capital(string)

False

example 4. Write a program to Check if a string contains a specific substring

In [12]:
def is_substring(s):
    a=input("enter name which you want to check if it is present in string ")
    if a in s:
        return True
    else:
        return False

In [14]:
s="shrushti is born and brought up in nanded"
is_substring(s)

enter name which you want to check if it is present in string shrushti

True

example 5. Capitalize the first character of a string

In [15]:
'florida dolphins'.capitalize()

'Florida dolphins'

example 6 Reverse the string “hello world”

In [19]:
''.join(reversed("hello world"))

'dlrow olleh'

example 7.Remove vowels from a string

In [20]:
string = 'Hello 1 World 2'
vowels = ('a','e','i','o','u')
''.join([c for c in string if c not in vowels])

'Hll 1 Wrld 2'

example 8  Iterate through a string Using for Loop.

In [22]:
h_letters = []

for letter in 'Mahajan':
    h_letters.append(letter)

print(h_letters)

['M', 'a', 'h', 'a', 'j', 'a', 'n']

example 9. Iterate through a string Using List Comprehension

In [23]:
h_letters = [ letter for letter in 'shrushti' ]
print( h_letters)

['s', 'h', 'r', 'u', 's', 'h', 't', 'i']

example 10 Transpose of Matrix using Nested Loops

In [24]:
transposed = []
matrix = [[1, 2, 3, 4], [4, 5, 6, 8]]

for i in range(len(matrix[0])):
    transposed_row = []

    for row in matrix:
        transposed_row.append(row[i])
    transposed.append(transposed_row)

print(transposed)

[[1, 4], [2, 5], [3, 6], [4, 8]]