example 1.Given a string, display only those characters which are present at an even index number.

In [9]:
def even_index(a):
    for i in range(0,len(a),2):
        print("index[",i,"]",a[i])
a="shrushti"
even_index(a)

index[ 0 ] s
index[ 2 ] r
index[ 4 ] s
index[ 6 ] t

example 2.Return the count of sub-string “Shubhangi” appears in the given string

In [12]:
a='shrushti is good girl, she is kind hearted person and she is a programmer'
print(a.count("she"))

2

example 3.Write a program (function!) that takes a list and returns a new list that contains all the elements of the first list minus all the duplicates.

In [17]:
l=[1,1,2,3,3]
p=set(l)
print(p)

{1, 2, 3}

example 4 .Write a program (function!) that takes a list and returns a new list that contains all the elements of the first list minus all the duplicates.

In [24]:
def remove_duplicate(x):
    return list(set(x))

In [25]:
remove_duplicate([1,1,2,2,3,4])

[1, 2, 3, 4]

example 5.Print multiplication table of 12 using recursion

In [29]:
def print_table(n,i):
    print(n*i)
    i+=1
    if i<=10:
        print_table(n,i)

In [30]:
print_table(20,1)

20
40
60
80
100
120
140
160
180
200

example 6

In [35]:
def table(n):
    for i in range(1,11):
        c=n*i
        print(c)

In [36]:
table(2)

2
4
6
8
10
12
14
16
18
20

example 7. Write a function to calculate area and perimeter of a rectangle.

In [39]:
def calculate_peri(l,b):
    c=l*b
    d=2*(l+b)
    print("area is ",c)
    print("perimeter is",d)

In [40]:
calculate_peri(2,3)

area is  6
perimeter is 10

example 8.Write a function to calculate power of a number raised to other

In [41]:
def power(a):
    c=a**a
    return c

In [43]:
power(3)

27

example 9.Write a function to tell user if he/she is able to vote or not.

In [44]:
def eligible(n):
    if n>18:
        return ("he/she can vote")
    else:
        return ("can't vote")

In [45]:
eligible(19)

he/she can vote

example 10.Write a function to check if a number is even or not.

In [48]:
def is_even(n):
    if n%2==0:
        return 'even'
    else:
        return 'odd'

In [49]:
is_even(996)

'even'