# Lambda function

example 1 : palindrome

In [1]:
is_palindrome =lambda x: x==x[::-1]

In [2]:
print(is_palindrome("pop"))

True

In [5]:
print(is_palindrome('123'))

False

example 2 :positive number

In [6]:
is_positive=lambda x: x>0

In [7]:
a=int(input("enter number"))
is_positive(a)

enter number5

True

# Filter function

example 3:even

In [8]:
s=[1,2,3,4,5,6]

In [10]:
even_num=list(filter(lambda x: x%2==0,s))
print(even_num)

[2, 4, 6]

example 4:odd

In [11]:
odd_num=list(filter(lambda x:x%2 !=0,s))
print(odd_num)

[1, 3, 5]

example 5 : start with a

In [14]:
name=['anand','shrushti','arya','abhi','aditya']
start=list(filter(lambda x: x.startswith('a'),name))
print(start)

['anand', 'arya', 'abhi', 'aditya']

# Map Function

example 6: square

In [16]:
s=[1,2,3,4]
square=list(map(lambda x:x**2,s))
print(square)

[1, 4, 9, 16]

example 7: uppercase

In [17]:
s=['hi','there','i','am','shrushti']
upper=list(map(lambda x:x.upper(),s))
print(upper)

['HI', 'THERE', 'I', 'AM', 'SHRUSHTI']

In [18]:
p=['shrushti','rohan','arya','shaileshkumar','jyoti']
length=list(map(lambda x:len(x),p))
print(length)

[8, 5, 4, 13, 5]

# Reduce Function

example 8:concating string

In [21]:
from functools import reduce
s=["hello","my","self","sutti"]
concate=reduce(lambda x,y:x+" "+y,s)
print(concate)

hello my self sutti

example 9: finding longest word

In [22]:
from functools import reduce
words = ['shrushti', 'mahajan', 'anand', 'abhi']
longest_word = reduce(lambda x, y: x if len(x) > len(y) else y, words)
print(longest_word)

shrushti

example 10: max number

In [30]:
from functools import reduce
s=[1,2,3,35]
maximum=reduce(max,s)
print(maximum)

35