11)Write a Python program which accepts a sequence of comma-separated numbers from user and generate a list and a 
tuple with those numbers

12) Write a Python program to display the first and last colors from the following list.
color_list = ["Red","Green","White" ,"Black"]

In [1]:
color_list = ["Red","Green","White" ,"Black"]
print(color_list[0])
print(color_list [-1])

Red
Black

13)Write a Python program to calculate number of days between two dates.
Sample dates : (2014, 7, 2), (2014, 7, 11)

14)Write a Python program to get the difference between a given number and 17,
if the number is greater than 17 return double the absolute difference

In [2]:
def difference_from_seventeen(number):
    difference = abs(number - 17)
    
    if number > 17:
        return 2 * difference
    else:
        return difference

In [5]:
number = float(input("Enter a number: "))
result = difference_from_seventeen(number)
    
print("Result:", result)

Enter a number: 16
Result: 1.0

15)To check whather given element exists in list or not??
list=[1,2,3,4,5,6,7,8,9,10]
check if 9 and 12 are present in given list or not

In [6]:
list=[1,2,3,4,5,6,7,8,9,10]
9 in list

True

In [7]:
12 in list

False

16)Write a function calculation() such that it can accept two variables and calculate the addition and subtraction of it.
And also it must return both addition and subtraction in a single return call

In [8]:
def calculation(a,b):
    add=a+b
    sub=a-b
    res=(add,sub)
    return res

In [9]:
calculation(5,3)

(8, 2)

17)Create a function showEmployee() in such a way that it should accept employee name, and itâ€™s salary and display both,
and if the salary is missing in function call it should show it as 9000

In [11]:
def Employee():
    emp_name=input("enter name")
    emp_salary=int(input("enter salary"))
    print(emp_name)
    print(emp_salary)

In [12]:
Employee()

enter nameshrushti
enter salary80000
shrushti
80000

18) Write a recursive function to calculate the sum of numbers from 0 to 10

In [13]:
def recursive_sum(n):
    if n == 0:
        return 0
    else:
        return n + recursive_sum(n - 1)

In [14]:


result = recursive_sum(10)
print("Sum of numbers from 0 to 10:", result)

Sum of numbers from 0 to 10: 55

19)Generate a Python list of all the even numbers between 4 to 30

In [16]:
l=[]
for i in range(4,31):
  
    if i%2==0:
        l.append(i)

In [17]:
print(l)

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

20)Return the largest item from the given list

In [24]:
def largest(l):
    largest=max(l)
    print(largest)

In [25]:
l=[1,2,3,4]
largest(l)

4