1)Write a Python program to get the Python version you are using

In [1]:
!pip show pip

Name: pip
Version: 21.2.4
Summary: The PyPA recommended tool for installing Python packages.
Home-page: https://pip.pypa.io/
Author: The pip developers
Author-email: distutils-sig@python.org
License: MIT
Location: c:\programdata\anaconda3\lib\site-packages
Requires:
Required-by:

2)Write a Python program to display the current date and time

In [19]:
import datetime

In [22]:
show=datetime.datetime.now()

In [49]:
print(show)

2024-03-15 21:24:11.151794

In [27]:
day=show.day

In [28]:
day

15

In [41]:
import time
current_time=time.time()

In [42]:
current_time

1710518307.884824

In [47]:
current_time_readable = time.ctime(current_time)

In [45]:
current_time_readable

'Fri Mar 15 21:28:27 2024'

3) Write a Python program which accepts the radius of a circle from the user and compute the area.

1st way

In [50]:
import math
def calculate_area(r):
    area=math.pi*r**2
    return area

In [53]:
r=int(input("enter radius"))
calculate_area(r)

enter radius2

12.566370614359172

2nd way

In [54]:
caluclate_area_circle= lambda radius: math.pi*r**2

In [56]:
r=int(input("value of radius"))

value of radius2

In [58]:
caluclate_area_circle(r)

12.566370614359172

4)Solve the expression. 5.2 + True + bool(-5) - 4 + 42//5 +bool(0) + False + int(5.9) + float('1')

In [62]:
exp=5.2+True+bool(-5)-4+(42//5)+bool(0)+False+int(5.9)+float('1')

In [63]:
exp

17.2

5)Write code to test whether the given number lies between 1 and 10

In [66]:
num=int(input("enter the number"))
if num>0 and num<11:
    print("num lies between 1 to 10")
else:
    print("out of range")

enter the number33
out of range

6)sum the numbers from 1 to 20 using for loop

In [70]:
 sum=0
for i in range(1,21):
   
    sum+=i
print(sum)

210

7)Display the numbers in reverse from 100 to 1

In [75]:
i=101
while i>1:
    
    i-=1
    print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

8)Display multiples of 2 from 10 to 50 using range

In [79]:
for i in range(10,51):
    if i%2==0:
        print(i)

10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

9)From the below nested dictionary, pick the word "Bangalore". 
d = {'1':'One','2':[1,{'Two':['Ch','Cbe','Salem',{'Place':[5,6,7,'Bangalore']}]}]}

In [90]:
d = {1:'One',2:[1,{'Two':['Ch','Cbe','Salem',{'Place':[5,6,7,'Bangalore']}]}]}

In [94]:
d[2][1]['Two'][3]['Place'][3]

'Bangalore'

10)Use functions to return square of numbers from 2 to 5

In [103]:
def print_square():
    for i in range(2,6):
        square= lambda r:i**2

In [104]:
print_square()