# Predefind varible add of two num

In [1]:
def sum(a,b):
    c=a+b
    return c
a=10
b=30
sum(a,b)

40

In [2]:
def sum(a,b):
    c=a+b
    return c
a=float(input("enter value of a: "))

b=float(input("enter value of b :"))
sum(a,b)

enter value of a: 2
enter value of b :3

5.0

# print hello world

In [3]:
def stringss(s):
    return s
s=input()
stringss(s)

Hello World!

'Hello World!'

# Print Square Root

In [6]:
import math
b=float(input("enter number :"))
a=math.sqrt(b)
print(a)

enter number :4
2.0

In [7]:
num=64
sr=num**(0.5)
print(sr)

8.0

# Area of Triangle

In [8]:
a=float(input("enter number :"))
b=float(input("enter number :"))
area=(1/2)*b*a
print(area)

enter number :2
enter number :4
4.0

# Swap two varible

In [10]:
a=3
b=4
temp=a
a=b
b=temp
print(a)
print(b)

4
3

In [11]:
a=3
b=4
a,b=b,a
print(a)
print(b)

4
3

In [12]:
# Original numbers
a = 10
b = 20

# Swapping using arithmetic operations
a = a + b
b = a - b
a = a - b

print("After swapping:")
print("a =", a)
print("b =", b)

After swapping:
a = 20
b = 10

In [13]:
# Original numbers
a = 10
b = 20

# Swapping using XOR bitwise operation
a = a ^ b
b = a ^ b
a = a ^ b

print("After swapping:")
print("a =", a)
print("b =", b)

After swapping:
a = 20
b = 10

# kilometer to miles

In [19]:
km=float(input(" enter you value in kilometers :"))
miles=(0.621371)*km
print(miles,"miles")

 enter you value in kilometers :5
3.106855 miles

# positive,negative,zero

In [23]:
def check_number(a):
    if a>0:
        return 'positive'
    elif a==0:
        return 'zero'
    else:
        return 'negative'
a=float(input("enter number"))
check_number(a)

enter number-1.2

'negative'

# even , odd

In [27]:
def check_number(a):
    if a%2==0:
        return 'even'
    else:
        return 'odd'
a=float(input("enter number"))
check_number(a)

enter number100202

'even'

# leap year

In [29]:
year=int(input("enter year: "))
if (year%400==0)and (year%100==0):
    print("leap")
elif (year%4==0)and(year%100!=0):
    print("leap")
else:
    print("not")

enter year: 2000
leap

# Largest three number

In [31]:
def find_largest(a,b,c):
    d=max(a,b,c)
    print(d)
a=1
b=22
c=3
find_largest(a,b,c)

22

In [32]:
num1=12
num2=56
num3=34

if num1>num2 and num1>num3:
    print("num1 a is gratest")
elif num2>num1 and num2>num3:
    print("num2 a is gratest")
else:
    print("num3 is lagest")

num2 a is gratest

# prime number

In [49]:
num=int(input("enter number: "))
if num>1:
    for i in range(2,num):
        if num%i==0:
            print(" not prime")
            break
    else:
        print("prime")

enter number: 37
prime

# gererate random number

In [70]:
import numpy as np

a=np.random.randint(1,6,3)
a

array([2, 1, 3])

In [71]:
type(a)

numpy.ndarray